.linksContainer {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.linksContainer .link {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  background-color: #eee;
}

.btnDelete {
  cursor: pointer;
}
